@page "/rabbitmq"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject RabbitMqApiClient RabbitApi

<PageTitle>RabbitMq</PageTitle>

<h1>RabbitMq</h1>

<p>This component sends message to Rmq.</p>


@code {

    protected override async Task OnInitializedAsync()
    {
        await RabbitApi.PostMessageToRabbitMq();
    }
}
